@tailwind base;
@tailwind components;
@tailwind utilities;

.centerY {
    @apply flex items-center
}

.centerAll {
    @apply flex justify-center items-center
}

.width {
    @apply lg:w-[60%] md:w-[80%] w-[90%] mx-auto
}

.header {
    @apply font-dmSerif font-bold text-secondary
}

.paragraph {
    @apply font-jost text-tertiary
}

.svg {
    fill: #292F36;
    transition: fill 0.3s ease;
}

.svg:hover {
    fill: #F2994A;
}

.input{
    @apply w-full border-b-[1px]  border-gray-400 outline-none py-3 placeholder:text-gray-500 bg-transparent
}